@model DM.Desparasitacao.Application.ViewModels.ProtocoloLuaTratamentoViewModel

@{
    ViewBag.Title = "Adicionar novo protocolo";
}

<div id="div-protocolo-lua-form">
    @Html.Partial("_Form")
</div>